svg {
	font: 10px sans-serif;
	padding: 10px;
}

.axis,
.frame {
	shape-rendering: crispEdges;
}

.axis line {
	stroke: #ddd;
}

.axis path {
	display: none;
}

.semiBox text {
	font-weight: bold;
	text-transform: capitalize;
}

.frame {
	fill: none;
	stroke: #aaa;
}

circle {
	fill-opacity: 0.7;
}
